*{
    margin: 0;
    padding: 0;
}
.home{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}
.home1{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}
.xett{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-duration: 1s;
    transform-origin: center;
 
    
}

.qara{
    width: 30px;
    background-color: white;
    border: white solid 1px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.goz1{
    width: 30px;
    height: 20px;
    transform-origin: bottom;
    transform: rotateZ(20deg) ;
    background-color: black;
    border-radius: 50% / 100% 100% 0 0;
    
}
.goz2{
    width: 30px;
    height: 20px;
    transform-origin: top;
    background-color: black;
    transform: rotateZ(-20deg) ;
    border-radius: 50% / 0 0 100% 100%;
}
.top{

    width: 200px;
    height: 100px;
    animation-timing-function:ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50% / 100% 100% 0 0;
    background-color:rgb(255, 217, 0);
    animation-name: move1;
    transform-origin: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
    .bottom{
       border-radius: 50% / 0 0 100% 100%;
       background-color:rgb(255, 217, 0);
       width: 200px;
       height: 100px;
       transform-origin: top;
       animation-name: move;
       animation-timing-function:ease;
       animation-duration: 1s;
       animation-iteration-count: infinite;
}

        .yuxari{
       width: 10%;
       height: 30px;
      border-radius: 5px; 
         
}

        .asagi{
       width: 10%;
       height: 30px;
       border-radius: 5px; 
       


}
        .sol{

       width: 10%;
       height: 30px;
       border-radius: 5px; 
    

}
        .sag{

       width: 10%;
       height: 30px;
      
       border-radius: 5px; 

}
    .bir:hover{
        background-color: gray;
        transition: 2ms;
    }
    @keyframes yuxari{
        0%{
            transform: rotateZ(0deg) translateY(0px);
           
            
        }
       100%{
           transform: rotateZ(0deg)translateY(-30vh);
        }
    }
    @keyframes asagi {
        0%{
            transform: rotateZ(0deg) translateY(0px);
           
            
        }
       100%{
           transform: rotateZ(0deg)translateY(30vh);
        }
    }
    @keyframes sol {
        0%{
            transform: rotateZ(0deg) translateX(0px);
           
            
        }
       100%{
           transform: rotateZ(0deg)translateX(-55vh);
        }
    }
    @keyframes sag {
        0%{
            transform: rotateZ(0deg) translateX(0px);
           
            
        }
       100%{
           transform: rotateZ(0deg)translateX(55vh);
        }
    }





















    @keyframes move1 {
        0%{
            transform: rotateZ(0deg) ;
            
        }
        50%{
            transform: rotateZ(-26deg)  ;
        }
        100%{
            transform: rotateZ(0);
        }
    }
    
     @keyframes move {
        0%{
            transform: rotateZ(-0deg) ;
        }
       50%{
            transform: rotateZ(26deg);
        }
        100%{
            transform: rotateZ(0);
        }

    } 
    


